In [13]:
for i in range(5,10,3):
    print(i)
print(i)

5
8
8

In [11]:
nama="Andi"

In [2]:
contohList=["apel","mangga","nangka"]
for i in contohList:
    print(i)

apel
mangga
nangka

In [6]:
print(range(2,5,2))

range(2, 5, 2)

In [15]:
i = 5

while i < 10:
    print(i)
    i=i+3

print(i)

5
8
11

In [24]:
listNumber=[1,2,3,4,5,63,4,3,23,43,34,0,-78]

minNumber=listNumber[0]

for i in listNumber:
    
    if minNumber>i:
        minNumber=i

print(minNumber)

-78

In [30]:
listNumber=[89,-100,3,4,5,63,4,3,23,43,34,0,-78]

initialIndex=5
minNumber=listNumber[initialIndex]
maxNumber=listNumber[initialIndex]

for i in range(initialIndex,len(listNumber)):
    if minNumber > listNumber[i]:
        minNumber=listNumber[i]
    if maxNumber < listNumber[i]:
        maxNumber=maxNumber[i]

print(minNumber)
print(maxNumber)

-78
63

In [36]:
for i in range(7):
    for j in range(5):
        for k in range (4):
            print(i,"x",j,"x",k,"=",i*j*k)

0 x 0 x 0 = 0
0 x 0 x 1 = 0
0 x 0 x 2 = 0
0 x 0 x 3 = 0
0 x 1 x 0 = 0
0 x 1 x 1 = 0
0 x 1 x 2 = 0
0 x 1 x 3 = 0
0 x 2 x 0 = 0
0 x 2 x 1 = 0
0 x 2 x 2 = 0
0 x 2 x 3 = 0
0 x 3 x 0 = 0
0 x 3 x 1 = 0
0 x 3 x 2 = 0
0 x 3 x 3 = 0
0 x 4 x 0 = 0
0 x 4 x 1 = 0
0 x 4 x 2 = 0
0 x 4 x 3 = 0
1 x 0 x 0 = 0
1 x 0 x 1 = 0
1 x 0 x 2 = 0
1 x 0 x 3 = 0
1 x 1 x 0 = 0
1 x 1 x 1 = 1
1 x 1 x 2 = 2
1 x 1 x 3 = 3
1 x 2 x 0 = 0
1 x 2 x 1 = 2
1 x 2 x 2 = 4
1 x 2 x 3 = 6
1 x 3 x 0 = 0
1 x 3 x 1 = 3
1 x 3 x 2 = 6
1 x 3 x 3 = 9
1 x 4 x 0 = 0
1 x 4 x 1 = 4
1 x 4 x 2 = 8
1 x 4 x 3 = 12
2 x 0 x 0 = 0
2 x 0 x 1 = 0
2 x 0 x 2 = 0
2 x 0 x 3 = 0
2 x 1 x 0 = 0
2 x 1 x 1 = 2
2 x 1 x 2 = 4
2 x 1 x 3 = 6
2 x 2 x 0 = 0
2 x 2 x 1 = 4
2 x 2 x 2 = 8
2 x 2 x 3 = 12
2 x 3 x 0 = 0
2 x 3 x 1 = 6
2 x 3 x 2 = 12
2 x 3 x 3 = 18
2 x 4 x 0 = 0
2 x 4 x 1 = 8
2 x 4 x 2 = 16
2 x 4 x 3 = 24
3 x 0 x 0 = 0
3 x 0 x 1 = 0
3 x 0 x 2 = 0
3 x 0 x 3 = 0
3 x 1 x 0 = 0
3 x 1 x 1 = 3
3 x 1 x 2 = 6
3 x 1 x 3 = 9
3 x 2 x 0 = 0
3 x 2 x 1 = 6
3 x 2 x 2 = 12
3 x 2 x 3 = 18
3 x 3 x 0 = 0
3 x 3 x 1 = 9
3 x 3 x 2 = 18
3 x 3 x 3 = 27
3 x 4 x 0 = 0
3 x 4 x 1 = 12
3 x 4 x 2 = 24
3 x 4 x 3 = 36
4 x 0 x 0 = 0
4 x 0 x 1 = 0
4 x 0 x 2 = 0
4 x 0 x 3 = 0
4 x 1 x 0 = 0
4 x 1 x 1 = 4
4 x 1 x 2 = 8
4 x 1 x 3 = 12
4 x 2 x 0 = 0
4 x 2 x 1 = 8
4 x 2 x 2 = 16
4 x 2 x 3 = 24
4 x 3 x 0 = 0
4 x 3 x 1 = 12
4 x 3 x 2 = 24
4 x 3 x 3 = 36
4 x 4 x 0 = 0
4 x 4 x 1 = 16
4 x 4 x 2 = 32
4 x 4 x 3 = 48
5 x 0 x 0 = 0
5 x 0 x 1 = 0
5 x 0 x 2 = 0
5 x 0 x 3 = 0
5 x 1 x 0 = 0
5 x 1 x 1 = 5
5 x 1 x 2 = 10
5 x 1 x 3 = 15
5 x 2 x 0 = 0
5 x 2 x 1 = 10
5 x 2 x 2 = 20
5 x 2 x 3 = 30
5 x 3 x 0 = 0
5 x 3 x 1 = 15
5 x 3 x 2 = 30
5 x 3 x 3 = 45
5 x 4 x 0 = 0
5 x 4 x 1 = 20
5 x 4 x 2 = 40
5 x 4 x 3 = 60
6 x 0 x 0 = 0
6 x 0 x 1 = 0
6 x 0 x 2 = 0
6 x 0 x 3 = 0
6 x 1 x 0 = 0
6 x 1 x 1 = 6
6 x 1 x 2 = 12
6 x 1 x 3 = 18
6 x 2 x 0 = 0
6 x 2 x 1 = 12
6 x 2 x 2 = 24
6 x 2 x 3 = 36
6 x 3 x 0 = 0
6 x 3 x 1 = 18
6 x 3 x 2 = 36
6 x 3 x 3 = 54
6 x 4 x 0 = 0
6 x 4 x 1 = 24
6 x 4 x 2 = 48
6 x 4 x 3 = 72

In [26]:
listNumber=[1,2,3,4,5,63,4,3,23,43,34,0,-78]

maxNumber=listNumber[0]

for i in listNumber:
    
    if maxNumber<i:
        maxNumber=i

print(maxNumber)

63

In [ ]:
for i in range(10):
    print("Hello World")
    print("\n")

In [49]:
i = 10
while i<20:
    
    if i == 15:
        continue
    i=i+1
    print(i)

11
12
13
14
16
17
18
19
20

In [50]:
def perkalian(x,y,z):
    for i in range(x):
        for j in range(y):
            for k in range (z):
                print(i,"x",j,"x",k,"=",i*j*k)

In [52]:
perkalian(2,3,4)
print("=======================================")
perkalian(3,5,7)
print("=======================================")
perkalian(2,4,6)

0 x 0 x 0 = 0
0 x 0 x 1 = 0
0 x 0 x 2 = 0
0 x 0 x 3 = 0
0 x 1 x 0 = 0
0 x 1 x 1 = 0
0 x 1 x 2 = 0
0 x 1 x 3 = 0
0 x 2 x 0 = 0
0 x 2 x 1 = 0
0 x 2 x 2 = 0
0 x 2 x 3 = 0
1 x 0 x 0 = 0
1 x 0 x 1 = 0
1 x 0 x 2 = 0
1 x 0 x 3 = 0
1 x 1 x 0 = 0
1 x 1 x 1 = 1
1 x 1 x 2 = 2
1 x 1 x 3 = 3
1 x 2 x 0 = 0
1 x 2 x 1 = 2
1 x 2 x 2 = 4
1 x 2 x 3 = 6
=======================================
0 x 0 x 0 = 0
0 x 0 x 1 = 0
0 x 0 x 2 = 0
0 x 0 x 3 = 0
0 x 0 x 4 = 0
0 x 0 x 5 = 0
0 x 0 x 6 = 0
0 x 1 x 0 = 0
0 x 1 x 1 = 0
0 x 1 x 2 = 0
0 x 1 x 3 = 0
0 x 1 x 4 = 0
0 x 1 x 5 = 0
0 x 1 x 6 = 0
0 x 2 x 0 = 0
0 x 2 x 1 = 0
0 x 2 x 2 = 0
0 x 2 x 3 = 0
0 x 2 x 4 = 0
0 x 2 x 5 = 0
0 x 2 x 6 = 0
0 x 3 x 0 = 0
0 x 3 x 1 = 0
0 x 3 x 2 = 0
0 x 3 x 3 = 0
0 x 3 x 4 = 0
0 x 3 x 5 = 0
0 x 3 x 6 = 0
0 x 4 x 0 = 0
0 x 4 x 1 = 0
0 x 4 x 2 = 0
0 x 4 x 3 = 0
0 x 4 x 4 = 0
0 x 4 x 5 = 0
0 x 4 x 6 = 0
1 x 0 x 0 = 0
1 x 0 x 1 = 0
1 x 0 x 2 = 0
1 x 0 x 3 = 0
1 x 0 x 4 = 0
1 x 0 x 5 = 0
1 x 0 x 6 = 0
1 x 1 x 0 = 0
1 x 1 x 1 = 1
1 x 1 x 2 = 2
1 x 1 x 3 = 3
1 x 1 x 4 = 4
1 x 1 x 5 = 5
1 x 1 x 6 = 6
1 x 2 x 0 = 0
1 x 2 x 1 = 2
1 x 2 x 2 = 4
1 x 2 x 3 = 6
1 x 2 x 4 = 8
1 x 2 x 5 = 10
1 x 2 x 6 = 12
1 x 3 x 0 = 0
1 x 3 x 1 = 3
1 x 3 x 2 = 6
1 x 3 x 3 = 9
1 x 3 x 4 = 12
1 x 3 x 5 = 15
1 x 3 x 6 = 18
1 x 4 x 0 = 0
1 x 4 x 1 = 4
1 x 4 x 2 = 8
1 x 4 x 3 = 12
1 x 4 x 4 = 16
1 x 4 x 5 = 20
1 x 4 x 6 = 24
2 x 0 x 0 = 0
2 x 0 x 1 = 0
2 x 0 x 2 = 0
2 x 0 x 3 = 0
2 x 0 x 4 = 0
2 x 0 x 5 = 0
2 x 0 x 6 = 0
2 x 1 x 0 = 0
2 x 1 x 1 = 2
2 x 1 x 2 = 4
2 x 1 x 3 = 6
2 x 1 x 4 = 8
2 x 1 x 5 = 10
2 x 1 x 6 = 12
2 x 2 x 0 = 0
2 x 2 x 1 = 4
2 x 2 x 2 = 8
2 x 2 x 3 = 12
2 x 2 x 4 = 16
2 x 2 x 5 = 20
2 x 2 x 6 = 24
2 x 3 x 0 = 0
2 x 3 x 1 = 6
2 x 3 x 2 = 12
2 x 3 x 3 = 18
2 x 3 x 4 = 24
2 x 3 x 5 = 30
2 x 3 x 6 = 36
2 x 4 x 0 = 0
2 x 4 x 1 = 8
2 x 4 x 2 = 16
2 x 4 x 3 = 24
2 x 4 x 4 = 32
2 x 4 x 5 = 40
2 x 4 x 6 = 48
=======================================
0 x 0 x 0 = 0
0 x 0 x 1 = 0
0 x 0 x 2 = 0
0 x 0 x 3 = 0
0 x 0 x 4 = 0
0 x 0 x 5 = 0
0 x 1 x 0 = 0
0 x 1 x 1 = 0
0 x 1 x 2 = 0
0 x 1 x 3 = 0
0 x 1 x 4 = 0
0 x 1 x 5 = 0
0 x 2 x 0 = 0
0 x 2 x 1 = 0
0 x 2 x 2 = 0
0 x 2 x 3 = 0
0 x 2 x 4 = 0
0 x 2 x 5 = 0
0 x 3 x 0 = 0
0 x 3 x 1 = 0
0 x 3 x 2 = 0
0 x 3 x 3 = 0
0 x 3 x 4 = 0
0 x 3 x 5 = 0
1 x 0 x 0 = 0
1 x 0 x 1 = 0
1 x 0 x 2 = 0
1 x 0 x 3 = 0
1 x 0 x 4 = 0
1 x 0 x 5 = 0
1 x 1 x 0 = 0
1 x 1 x 1 = 1
1 x 1 x 2 = 2
1 x 1 x 3 = 3
1 x 1 x 4 = 4
1 x 1 x 5 = 5
1 x 2 x 0 = 0
1 x 2 x 1 = 2
1 x 2 x 2 = 4
1 x 2 x 3 = 6
1 x 2 x 4 = 8
1 x 2 x 5 = 10
1 x 3 x 0 = 0
1 x 3 x 1 = 3
1 x 3 x 2 = 6
1 x 3 x 3 = 9
1 x 3 x 4 = 12
1 x 3 x 5 = 15

In [67]:
def celciusToFahrenheit2(temp):
    convertedTemp=9/5*temp + 32
    print(convertedTemp)

In [65]:
def celciusToFahrenheit(temp):
    convertedTemp=9/5*temp + 32
    return convertedTemp

In [66]:
suhu1 = celciusToFahrenheit(50)
suhu2 = celciusToFahrenheit(60)
print(suhu1)
print(suhu2)

122.0
140.0

In [68]:
suhu3 = celciusToFahrenheit2(50)
suhu4 = celciusToFahrenheit2(60)
print(suhu3)
print(suhu4)

122.0
140.0
None
None

In [64]:
for i in range (3):
    print(end=" ")
celciusToFahrenheit(32)

celciusToFahrenheit(64)
celciusToFahrenheit(58)

   89.6
147.2
136.4